<div *appExchangeRate="let rate from rates autoplay playMode delay ms; controller as ctrl "
     (mouseenter)="cNext.show(); cPrev.show()"
     (mouseleave)="cNext.hide(); cPrev.hide()"
>
  <button mat-button (click)="ctrl.prev()" course-hidden #cPrev="hiddenControl">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>{{rate.value | currency:rate.currency: 'symbol-narrow'}}</span>
  <button mat-button (click)="ctrl.next()" course-hidden
          #cNext="hiddenControl"
  >
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
