<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <button (click)="toggleSideNav()"
            mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <!--    <span>{{getDate()}}</span>-->
    <!--    <span>{{title?.text}}</span>-->
    <!--    <app-on-push></app-on-push>-->
    <span>{{title}}</span>
  </div>
  <div fxLayout="row">
    <app-exchange-rates></app-exchange-rates>
    <button mat-icon-button
            [routerLink]="['/backoffice/cart']"
            class="example-icon" aria-label="Example icon-button with share icon"
    >
      <mat-icon [matBadge]="cartProductsCount$ | async" matBadgeColor="warn"
      >shopping_cart
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
