
.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.loader-container mat-spinner {
  margin: auto;
  top: 40%;
}

mat-form-field {
  width: 100%;
}
